/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

@font-face {
    font-family: 'Suisse';
    font-display: swap;
    src: url('../theme/font/SuisseIntl-Regular-WebXL.woff2');
}